html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 50px 30px;
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

section {
    padding: 60px 20px;
    position: relative;
}
