

footer {
    background-color: var(--footer-bg);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    width: 100%;
}



.footer-content p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.separator {
    margin: 0 10px;
    font-weight: bold;
}



.footer-content a {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
}

.footer-content a:hover {
    color: var(--primary-color);
}