footer {
    background-color: var(--footer-bg);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    width: 100%;
}

.footer-content p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-content a {
    color: white;
    font-size: 1.5em;
    transition: color var(--transition-normal), transform var(--transition-normal);
}

.footer-content a:hover {
    color: var(--primary-color);
    transform: translateY(-3px) scale(1.1);
}
