* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--font-family-primary);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    transition: background-color var(--transition-normal), color var(--transition-normal);
}

a {
    color: inherit;
}

a:hover,
a:focus {
    outline: none;
}

img {
    max-width: 100%;
    display: block;
}
